<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css"
    />
    {{!-- <link rel="stylesheet" href="../css/trivia.css" /> --}}
    <style>
        .box {
          background-color: #fbc49f;
        }
        input[type="radio"]{
             -webkit-appearance: none;
             appearance: none;
         }   
         label {
          /* margin: 0px 30px; */
          border: 6px solid #1716161d;
          padding: 10px;
          border-radius: 35%;
         }
         input[type="radio"]:checked + label {
          border: 6px solid #f10b0b6f;
          padding: 10px;
          border-radius: 35%;
         }
         
      </style>
      
    <title>Accord - Friendship Trivia</title>
  </head>

  <body>
    <!--Title-->
    <br />
    <form class="box" method="post" action="/api/writeanswers">
      
      <p class="title is-1 is-spaced has-text-centered">Friendship Trivia</p>
      <p class="subtitle is-4 has-text-centered">
        How well do you know your friends?
      </p>
      <hr>
      <!-- Category ENERGY Connectors--> 
      <h2 class="is-3 subtitle has-text-centered">Energy Connectors</h2>

        <div class="my-6 has-text-centered">
            <p class="my-3">{{questions.[0].[question]}}</p>
            <input type="radio" name="Answer1" id="1a" value="true"><label class="mx-3 button is-rounded" for="1a">Agree</label><input type="radio" name="Answer1" id="1b" value="false"><label class="mx-3 button is-rounded" for="1b">Disagree</label>
            <br>
        </div>
        <div class="my-6 has-text-centered">
            <p class="my-3">{{questions.[1].[question]}}</p>
            <input type="radio" name="Answer2" id="2a" value="true"><label class="mx-3 button is-rounded" for="2a">Agree</label><input type="radio" name="Answer2" id="2b" value="false"><label class="mx-3 button is-rounded" for="2b">Disagree</label>
            
            <br>
        </div>
        <div class="my-6 has-text-centered">
            <p class="my-3">{{questions.[2].[question]}}</p>
            <input type="radio" name="Answer3" id="3a" value="true"><label class="mx-3 button is-rounded" for="3a">Agree</label><input type="radio" name="Answer3" id="3b" value="false"><label class="mx-3 button is-rounded" for="3b">Disagree</label>
            {{!-- <button id="3a"  class="mx-3 button is-rounded">Agree</button><button id="3b" class="mx-3 button is-rounded">Disagree</button> --}}
            <br>
        </div>
        <div class="my-6 has-text-centered">
            <p class="my-3">{{questions.[3].[question]}}</p>
            <input type="radio" name="Answer4" id="4a" value="true"><label class="mx-3 button is-rounded" for="4a">Agree</label><input type="radio" name="Answer4" id="4b" value="false"><label class="mx-3 button is-rounded" for="4b">Disagree</label>
            {{!-- <button id="4a"  class="mx-3 button is-rounded">Agree</button><button id="4b" class="mx-3 button is-rounded">Disagree</button> --}}
            <br>
        </div>
        <div class="my-6 has-text-centered">
            <p class="my-3">{{questions.[4].[question]}}</p>
            <input type="radio" name="Answer5" id="5a" value="true"><label class="mx-3 button is-rounded" for="5a">Agree</label><input type="radio" name="Answer5" id="5b" value="false"><label class="mx-3 button is-rounded" for="5b">Disagree</label>
            {{!-- <button id="5a"  class="mx-3 button is-rounded">Agree</button><button id="5b" class="mx-3 button is-rounded">Disagree</button> --}}
            <br>
        </div>
        <!-- END Category -->
        <hr>
        <!-- CategoryAttachment styles -->
      <h2 class="is-3 subtitle has-text-centered">Attachments Styles</h2>

      <div class="my-6 has-text-centered">
          <p class="my-3">{{questions.[5].[question]}}</p>
          <input type="radio" name="Answer6" id="6a" value="true"><label class="mx-3 button is-rounded" for="6a">Agree</label><input type="radio" name="Answer6" id="6b" value="false"><label class="mx-3 button is-rounded" for="6b">Disagree</label>
          {{!-- <button id="6a"  class="mx-3 button is-rounded">Agree</button><button id="6b" class="mx-3 button is-rounded">Disagree</button> --}}
          <br>
      </div>
      <div class="my-6 has-text-centered">
          <p class="my-3">{{questions.[6].[question]}}</p>
          <input type="radio" name="Answer7" id="7a" value="true"><label class="mx-3 button is-rounded" for="7a">Agree</label><input type="radio" name="Answer7" id="7b" value="false"><label class="mx-3 button is-rounded" for="7b">Disagree</label>
          {{!-- <button id="7a"  class="mx-3 button is-rounded">Agree</button><button id="7b" class="mx-3 button is-rounded">Disagree</button> --}}
          <br>
      </div>
      <div class="my-6 has-text-centered">
          <p class="my-3">{{questions.[7].[question]}}</p>
          <input type="radio" name="Answer8" id="8a" value="true"><label class="mx-3 button is-rounded" for="8a">Agree</label><input type="radio" name="Answer8" id="8b" value="false"><label class="mx-3 button is-rounded" for="8b">Disagree</label>
          {{!-- <button id="8a"  class="mx-3 button is-rounded">Agree</button><button id="8b" class="mx-3 button is-rounded">Disagree</button> --}}
          <br>
      </div>
      <div class="my-6 has-text-centered">
          <p class="my-3">{{questions.[8].[question]}}</p>
          <input type="radio" name="Answer9" id="9a" value="true"><label class="mx-3 button is-rounded" for="9a">Agree</label><input type="radio" name="Answer9" id="9b" value="false"><label class="mx-3 button is-rounded" for="9b">Disagree</label>
          {{!-- <button id="9a"  class="mx-3 button is-rounded">Agree</button><button id="9b" class="mx-3 button is-rounded">Disagree</button> --}}
          <br>
      </div>
      <div class="my-6 has-text-centered">
          <p class="my-3">{{questions.[9].[question]}}</p>
          <input type="radio" name="Answer10" id="10a" value="true"><label class="mx-3 button is-rounded" for="10a">Agree</label><input type="radio" name="Answer10" id="10b" value="false"><label class="mx-3 button is-rounded" for="10b">Disagree</label>
          {{!-- <button id="10a"  class="mx-3 button is-rounded">Agree</button><button id="10b" class="mx-3 button is-rounded">Disagree</button> --}}
          <br>
      </div>
      <!-- END Category -->
      <hr>
       <!-- Category Moral Dilemnas-->
       <h2 class="is-3 subtitle has-text-centered">Moral Dilemnas</h2>

       <div class="my-6 has-text-centered">
           <p class="my-3">{{questions.[10].[question]}}</p>
           <input type="radio" name="Answer11" id="11a" value="true"><label class="mx-3 button is-rounded" for="11a">Agree</label><input type="radio" name="Answer11" id="11b" value="false"><label class="mx-3 button is-rounded" for="11b">Disagree</label>
           {{!-- <button id="11a"  class="mx-3 button is-rounded">Agree</button><button id="11b" class="mx-3 button is-rounded">Disagree</button> --}}
           <br>
       </div>
       <div class="my-6 has-text-centered">
           <p class="my-3">{{questions.[11].[question]}}</p>
           <input type="radio" name="Answer12" id="12a" value="true"><label class="mx-3 button is-rounded" for="12a">Agree</label><input type="radio" name="Answer12" id="12b" value="false"><label class="mx-3 button is-rounded" for="12b">Disagree</label>
           {{!-- <button id="12a"  class="mx-3 button is-rounded">Agree</button><button id="12b" class="mx-3 button is-rounded">Disagree</button> --}}
           <br>
       </div>
       <div class="my-6 has-text-centered">
           <p class="my-3">{{questions.[12].[question]}}</p>
           <input type="radio" name="Answer13" id="13a" value="true"><label class="mx-3 button is-rounded" for="13a">Agree</label><input type="radio" name="Answer13" id="13b" value="false"><label class="mx-3 button is-rounded" for="13b">Disagree</label>
           {{!-- <button id="13a"  class="mx-3 button is-rounded">Agree</button><button id="13b" class="mx-3 button is-rounded">Disagree</button> --}}
           <br>
       </div>
       <div class="my-6 has-text-centered">
           <p class="my-3">{{questions.[13].[question]}}</p>
           <input type="radio" name="Answer14" id="14a" value="true"><label class="mx-3 button is-rounded" for="14a">Agree</label><input type="radio" name="Answer14" id="14b" value="false"><label class="mx-3 button is-rounded" for="14b">Disagree</label>
           {{!-- <button id="14a"  class="mx-3 button is-rounded">Agree</button><button id="14b" class="mx-3 button is-rounded">Disagree</button> --}}
           <br>
       </div>
       <div class="my-6 has-text-centered">
           <p class="my-3">{{questions.[14].[question]}}</p>
           <input type="radio" name="Answer15" id="15a" value="true"><label class="mx-3 button is-rounded" for="15a">Agree</label><input type="radio" name="Answer15" id="15b" value="false"><label class="mx-3 button is-rounded" for="15b">Disagree</label>
           {{!-- <button id="15a"  class="mx-3 button is-rounded">Agree</button><button id="15b" class="mx-3 button is-rounded">Disagree</button> --}}
           <br>
       </div>
       <!-- END Category -->
       <hr>
        <!-- Category Have you ever-->
      <h2 class="is-3 subtitle has-text-centered">Have you ever???</h2>

      <div class="my-6 has-text-centered">
          <p class="my-3">{{questions.[15].[question]}}</p>
          <input type="radio" name="Answer16" id="16a" value="true"><label class="mx-3 button is-rounded" for="16a">Agree</label><input type="radio" name="Answer16" id="16b" value="false"><label class="mx-3 button is-rounded" for="16b">Disagree</label>
          {{!-- <button id="16a"  class="mx-3 button is-rounded">Yes</button><button id="16b" class="mx-3 button is-rounded">No</button> --}}
          <br>
      </div>
      <div class="my-6 has-text-centered">
          <p class="my-3">{{questions.[16].[question]}}</p>
          <input type="radio" name="Answer17" id="17a" value="true"><label class="mx-3 button is-rounded" for="17a">Agree</label><input type="radio" name="Answer17" id="17b" value="false"><label class="mx-3 button is-rounded" for="17b">Disagree</label>
          {{!-- <button id="17a"  class="mx-3 button is-rounded">Yes</button><button id="17b" class="mx-3 button is-rounded">No</button> --}}
          <br>
      </div>
      <div class="my-6 has-text-centered">
          <p class="my-3">{{questions.[17].[question]}}</p>
          <input type="radio" name="Answer18" id="18a" value="true"><label class="mx-3 button is-rounded" for="18a">Agree</label><input type="radio" name="Answer18" id="18b" value="false"><label class="mx-3 button is-rounded" for="18b">Disagree</label>
          {{!-- <button id="18a"  class="mx-3 button is-rounded">Yes</button><button id="18b" class="mx-3 button is-rounded">No</button> --}}
          <br>
      </div>
      <div class="my-6 has-text-centered">
          <p class="my-3">{{questions.[18].[question]}}</p>
          <input type="radio" name="Answer19" id="19a" value="true"><label class="mx-3 button is-rounded" for="19a">Agree</label><input type="radio" name="Answer19" id="19b" value="false"><label class="mx-3 button is-rounded" for="19b">Disagree</label>
          {{!-- <button id="19a"  class="mx-3 button is-rounded">Yes</button><button id="19b" class="mx-3 button is-rounded">No</button> --}}
          <br>
      </div>
      <div class="my-6 has-text-centered">
          <p class="my-3">{{questions.[19].[question]}}</p>
          <input type="radio" name="Answer20" id="20a" value="true"><label class="mx-3 button is-rounded" for="20a">Agree</label><input type="radio" name="Answer20" id="20b" value="false"><label class="mx-3 button is-rounded" for="20b">Disagree</label>
          {{!-- <button id="20a"  class="mx-3 button is-rounded">Yes</button><button id="20b" class="mx-3 button is-rounded">No</button> --}}
          <br>
      </div>
      <!-- END Category -->
      <hr>
       <!-- Category Love Languages-->
       <h2 class="is-3 subtitle has-text-centered">Love Languages</h2>

       <div class="my-6 has-text-centered">
           <p class="my-3">{{questions.[20].[question]}}</p>
           <input type="radio" name="Answer21" id="21a" value="true"><label class="mx-3 button is-rounded" for="21a">Agree</label><input type="radio" name="Answer21" id="21b" value="false"><label class="mx-3 button is-rounded" for="21b">Disagree</label>
           {{!-- <button id="21a"  class="mx-3 button is-rounded">Agree</button><button id="21b" class="mx-3 button is-rounded">Disagree</button> --}}
           <br>
       </div>
       <div class="my-6 has-text-centered">
           <p class="my-3">{{questions.[21].[question]}}</p>
           <input type="radio" name="Answer22" id="22a" value="true"><label class="mx-3 button is-rounded" for="22a">Agree</label><input type="radio" name="Answer22" id="22b" value="false"><label class="mx-3 button is-rounded" for="22b">Disagree</label>
           {{!-- <button id="22a"  class="mx-3 button is-rounded">Agree</button><button id="22b" class="mx-3 button is-rounded">Disagree</button> --}}
           <br>
       </div>
       <div class="my-6 has-text-centered">
           <p class="my-3">{{questions.[22].[question]}}</p>
           <input type="radio" name="Answer23" id="23a" value="true"><label class="mx-3 button is-rounded" for="23a">Agree</label><input type="radio" name="Answer23" id="23b" value="false"><label class="mx-3 button is-rounded" for="23b">Disagree</label>
           {{!-- <button id="23a"  class="mx-3 button is-rounded">Agree</button><button id="23b" class="mx-3 button is-rounded">Disagree</button> --}}
           <br>
       </div>
       <div class="my-6 has-text-centered">
           <p class="my-3">{{questions.[23].[question]}}</p>
           <input type="radio" name="Answer24" id="24a" value="true"><label class="mx-3 button is-rounded" for="24a">Agree</label><input type="radio" name="Answer24" id="24b" value="false"><label class="mx-3 button is-rounded" for="24b">Disagree</label>
           {{!-- <button id="24a"  class="mx-3 button is-rounded">Agree</button><button id="24b" class="mx-3 button is-rounded">Disagree</button> --}}
           <br>
       </div>
       <div class="my-6 has-text-centered">
           <p class="my-3">{{questions.[24].[question]}}</p>
           <input type="radio" name="Answer25" id="25a" value="true"><label class="mx-3 button is-rounded" for="25a">Agree</label><input type="radio" name="Answer25" id="25b" value="false"><label class="mx-3 button is-rounded" for="25b">Disagree</label>
           {{!-- <button id="25a"  class="mx-3 button is-rounded">Agree</button><button id="25b" class="mx-3 button is-rounded">Disagree</button> --}}
           <br>
       </div>
       <!-- END Category -->
      <button type="submit" class="button is-rounded is-large is-outlined is-fullwidth">See Results</button>
      {{!-- <a
        id="results-btn" style="margin-top: -30px;"
        class="button is-rounded is-large is-outlined is-fullwidth" href="html/main.html"
        >See Results!</a
      > --}}
      
    </form>
    
    
    
  </body>
</html>

<!-- Headers: {
  Accept: 'application.json',
  'Content-Type': 'application/json'
}, 


a1: a1,a2: a2,a3: a3,a4: a4,a5: a5,a6: a6,a7: a7,a8: a8,a9: a9,a10,a11,a12,a13,a14,a15,a16,a17,a18,a19,a20,a21,a22,a23,a24,a25}

-->
